{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      { "spec": true }
    ],
    stri[
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "app/javascripts",
        "rootPathPrefix": "@"
      }
    ]
  ]
}
