export HDWALLET_MNEMONIC="<twelve word mnemonic>"
export ROPSTEN_PROVIDER_URL='https://ropsten.infura.io/1632a3898d8c4e4786024e2c4e358819>'
export RINKEBY_PROVIDER_URL='https://rinkeby.infura.io/1632a3898d8c4e4786024e2c4e358819'
