.token-type {
  background: white;
  //border: 1px solid #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
  line-height: 0;
  transition: 0.2s;
}

.token-type.selected,
.token-type.selected:hover,
.token-type.selected:focus {
  border: 1px solid #2b9eeb;
  opacity: 1;
}

.token-type:hover,
.token-type:focus {
  border: 1px solid #2b9eeb;
  opacity: 1;
}

.token-type__img {
  width: 100%;
  max-width: 240px;
}

.titleAsset {
  color: #5188f3;
}
