html.has-navbar-fixed-top, body.has-navbar-fixed-top{
  padding-top: 6.25rem !important;
}
body{
  background-color: #dfebf4;
}
.pages-sale-reclame {
  padding: 0;
  margin-bottom: 30px;
  .sale-reclame {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: hidden;
    background-position-y: 0;
    .sale-reclame_tagline {
      font-family: OpenSans-Bold;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
    }
    .sale-reclame_line-2 {
      font-family: OpenSans-Bold;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .pages-sale-reclame .sale-reclame_item {
    text-align: right;
  }
  .item-1 {
    margin: 29px 0 12px 27px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .sale-reclame_item {
    text-align: right;
  }
  .sale-reclame_text {
    box-sizing: border-box;
    width: 510px;
    padding: 11px 70px 14px 24px;
    margin: 50px 0 32px;
    position: relative;
    z-index: 1;
    color: #fff;
    &:before{
      content: "";
      position: absolute;
      width: 105%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg,#00cbff,#004891);
      transform: skew(27deg,0deg);
      z-index: -1;
    }
    &:after{
      content: "";
      position: absolute;
      top: 5px;
      left: 9px;
      width: 103%;
      height: 88%;
      border: 1px solid #fff;
      transform: skew(27deg,0deg);
    }
  }
  .sale-text {
    color: #fff;
    font-family: OpenSans-Bold;
    padding: 0 74px 0 0;
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
  }
  .divider {
    height: 1px;
    width: 79%;
    background: #fff;
    margin: 10px 0 0 36px;
  }
}

.content_sortPagiBar {
  margin: 0;
  .sortPagiBar {
    margin: 0;
    padding: 6px 10px;
    min-height: 51px;
    &.block {
      background-color: #a0b7c8 !important;
      border: 0 !important;
    }
    .inner {
      font-family: 'Open Sans',sans-serif !important;
      font-size: 14px ;
      color: #fff !important;
      margin-top: 8px;
      font-weight: bold;
    }
    select{
      float: right;
    }
  }
}

.product-container{
  background-color: #fff;
  .center_block {
      display: block;
      margin-bottom: 5px;
      overflow: hidden;
      position: relative;
      text-align: center;
  }
  .name-product{
    height: auto;
    margin-bottom: 11px !important;
    a{
      color: #04467f;
      font-size: 16px;
      min-height: 34px;
    }
  }
  .wrapper_product_image{
    background-color: #f2f7fb;
    padding-bottom: 30px;
    position: relative;
    .plabel_div {
      width: auto;
      height: auto;
      position: absolute;
      border-radius: 30px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      z-index: 3;
    }
    .plabel_img {
      all: initial;
      width: auto !important;
      box-shadow: initial !important;
    }
    .plabel_div ~ .wrapper-block-stickers {
      top: 40px;
    }
    .wrp-wear {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
    }
  }
  a.product_image {
    display: block;
    position: relative;
    z-index: 0;
    min-height: 195px;
    &:before{
      background: none repeat scroll 0 0 rgba(255,255,255,0.1);
      content: "";
      display: inline-block;
      height: 559px;
      position: absolute;
      right: -755px;
      top: 0;
      -webkit-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: all 0.6s ease-in-out 0s;
      transition: all 0.6s ease-in-out 0s;
      width: 600px;
    }
  }
  .img-responsive {
    display: inline;
    max-width: 100%;   
  }
  .product-additional {
      bottom: -500px;
      left: 0;
      position: absolute;
      -o-transition: all 0.6s ease 0s;
      -webkit-transition: all 0.6s ease 0s;
      transition: all 0.6s ease 0s;
      width: 100%;
  }
  span.hot_price {
    background: #04467f;
    top: 15px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    right: 15px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 1.92px 0.08px rgba(0,0,0,0.47);
    margin-bottom: 5px;
    min-width: auto;
    line-height: normal;
    padding: 0 5px;
    font-size: 14px;
    text-transform: none;
    text-align: left;
    color: #FFFFFF;
    display: block;
    z-index: 30;
  }
  span.hot{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    right: 15px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 1.92px 0.08px rgba(0,0,0,0.47);
    margin-bottom: 5px;
    min-width: auto;
    line-height: normal;
    padding: 0 5px;
    font-size: 14px;
    text-transform: none;
    text-align: left;
    background: #daad1a;
    top: 40px;
    color: #FFFFFF;
    display: block;
    z-index: 30;
  }
  .wrapper__features-container {
      height: 39px;
      border-bottom: 1px solid #eaf2f7;
      margin-bottom: 10px;
      .features-container {
        padding-bottom: 2px;
        border-bottom: 1px solid #eaf2f7;
        margin-bottom: 10px;
        line-height: 1.2;
        min-height: 39px;
        text-align: center;
        span {
          font-family: 'Open Sans',sans-serif;
          display: inline-block;
          font-size: 12px;
          color: #a0b7c8;
          margin: 0 0 2px;
          letter-spacing: -1px;
        }
    }
  }
  .right_block {
    padding: 0;
    position: relative;
    .content_price {
      margin-bottom: 0;
      .item_market_prise{
        background: none;
        font-size: 12px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 600;
        color: #a0b7c8;
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0;
        text-transform: none;
        .original-price{
          font-family: 'Open Sans',sans-serif;
          color: #a0b7c8;
        }
      }
      .quantity-container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        .quantity_wanted {
          width: 28px;
          height: 28px;
          padding: 5px;
          box-sizing: border-box;
          color: #a0b7c8;
          border: 1px solid #a0b7c8;
          background: #e9f0f5;
          text-align: center;
          border-radius: 5px;
          display: inline-block;
          vertical-align: middle;
        }
        .ajax_add_to_cart_button{
          display: inline-block;
          background: url(https://gamerall.com/themes/leodig/css/../img/btn_add_product_to_cart.png) no-repeat center center !important;
          background-size: contain !important;
          border: 0 !important;
          font-size: 0;
          height: 28px;
          margin-left: 8px;
          padding: 0;
          width: 100px;
          span{
            font-size: 0;
          }
        }
        .btn-add-setting-product{
          align-items: center;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          margin-left: 8px;
          .xp-status-btn{
            background: url(https://gamerall.com/themes/leodig/css/../img/xp_icon1.png) no-repeat center center;
            height: 27px;
            cursor: pointer;
            margin-right: 4px;
            order: -1;
            position: relative;
            width: 42px;
          }
        }
        .in_stock.availability{
          display: none;
        }
      }
    }
  }
}
